<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, target-densitydpi=fevice-dpi, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/auth" method="post">
        логин:<br />
        <input name="dt" type="date" class="inp" value="<?=$dt?>" required/><br />
        пароль:<br />
        <input name="distance" type="number" class="inp" /><br />
        <input value="войти" type="submit" class="btn"/>
    </form>
    <a href="/"><button class="btn">назад</button></a>
</body>
</html>
